# Creando DataFrames con Diccionarios

Origen de los datos: [Departamento de Asuntos Sociales y Económicos de las Naciones Unidas](https://population.un.org/wpp/Download/Standard/CSV/)

In [1]:
# Crear un diccionario con los datos del DataFrame
poblacion = {
    "Año": [2014, 2015, 2016, 2017, 2018, 2019, 2020],
    "Canada": [35664338, 36026668, 36382942, 36732091, 37074558, 37411038, 37742157],
    "Mexico": [120355137, 121858251, 123333379, 124777326, 126190782, 127575529, 128932753],
    "Estados Unidos": [318673422, 320878312, 323015992, 325084758, 327096263, 329064917, 331002647]
}

In [2]:
# Mostrar datos del diccionario
poblacion

{'Año': [2014, 2015, 2016, 2017, 2018, 2019, 2020],
 'Canada': [35664338,
  36026668,
  36382942,
  36732091,
  37074558,
  37411038,
  37742157],
 'Mexico': [120355137,
  121858251,
  123333379,
  124777326,
  126190782,
  127575529,
  128932753],
 'Estados Unidos': [318673422,
  320878312,
  323015992,
  325084758,
  327096263,
  329064917,
  331002647]}

In [3]:
# Importar la libreria Pandas
import pandas as pd

In [4]:
# Crear un DataFrame con los datos del diccionario
df_poblacion = pd.DataFrame(poblacion)

In [5]:
# Mostrar los datos de un DataFrame imprimiento la variable
df_poblacion

    Año    Canada     Mexico  Estados Unidos
0  2014  35664338  120355137       318673422
1  2015  36026668  121858251       320878312
2  2016  36382942  123333379       323015992
3  2017  36732091  124777326       325084758
4  2018  37074558  126190782       327096263
5  2019  37411038  127575529       329064917
6  2020  37742157  128932753       331002647

In [6]:
# Definir como índice la columna año
df_poblacion = df_poblacion.set_index("Año")

In [7]:
# Mostrar el nuevo índice del DataFrame
df_poblacion

        Canada     Mexico  Estados Unidos
Año
2014  35664338  120355137       318673422
2015  36026668  121858251       320878312
2016  36382942  123333379       323015992
2017  36732091  124777326       325084758
2018  37074558  126190782       327096263
2019  37411038  127575529       329064917
2020  37742157  128932753       331002647

In [8]:
# Guardar DataFrame como CSV
df_poblacion.to_csv("datos-poblacion-noteamerica.csv")