# Creando DataFrames desde Archivos CSV

Origen de los datos: [Departamento de Asuntos Sociales y Económicos de las Naciones Unidas](https://population.un.org/wpp/Download/Standard/CSV/)

In [1]:
# Importar pandas
import pandas as pd

In [2]:
# Importar CSV si definir índice
df_1 = pd.read_csv("datos-poblacion-noteamerica.csv")

In [3]:
# Mostrar valores del DataFrame
df_1

    Año    Canada     Mexico  Estados Unidos
0  2014  35664338  120355137       318673422
1  2015  36026668  121858251       320878312
2  2016  36382942  123333379       323015992
3  2017  36732091  124777326       325084758
4  2018  37074558  126190782       327096263
5  2019  37411038  127575529       329064917
6  2020  37742157  128932753       331002647

In [4]:
# Importar CSV definiendo una columna índice
df_2 = pd.read_csv("datos-poblacion-noteamerica.csv", index_col="Año")

In [5]:
# Mostrar valores del DataFrame con índice
df_2

        Canada     Mexico  Estados Unidos
Año
2014  35664338  120355137       318673422
2015  36026668  121858251       320878312
2016  36382942  123333379       323015992
2017  36732091  124777326       325084758
2018  37074558  126190782       327096263
2019  37411038  127575529       329064917
2020  37742157  128932753       331002647